html{
	font-size: 10px;
}

*{
	box-sizing: border-box;
}

body{
	font-family: 'Manjari', sans-serif;
	text-align: center;
	/*line-height: 1.6;*/
}

img{
	width: 100%;
	height: 100%;
}

input, select{
	border:none;
}

input.input::placeholder,
select.dropdown:invalid {
    color: #e9e9e9;
    font-size: 16px;
}

.head {
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
}

.heading {
    justify-self: center;
    align-self: end;
    color: #fd5270;
    font-weight: 800;
    font-family: 'Courgette', cursive;
}


.btn {
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: #fd5270;
    padding: 10px 20px;
    font-size: 17px;
}

.hidden{
	display: none;
}

.cover, .about, .aboutMore, 
.popCat, .browseCat, .blogs, .footer{
	font-size: 2rem;
}

.cover, .about {
	display: grid;
	grid-template-columns: 5% 90% 5%
}

.coverCont, .aboutCont {
	grid-column: 2;
}

.cover {
	background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(170, 110, 125, 0.3), rgb(43, 43, 43)), url(img/banner2.jpg);
    background-size: 300% 100%;
    font-size: 2rem;
    color: white;
    padding: 40px 0;
}

.coverCont{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.coverCont .head {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
}

.coverCont .cover-form {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 8fr 1fr;
    background-color: #808080b5;
}

.coverCont .form {
	grid-column: 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
    padding: 40px 0;
    color: #fff;
    font-size: 24px;
    grid-row-gap: 15px;
}

.coverCont .inputs, .coverCont .select{
	border-bottom:2px solid white;
}

.coverCont .inputs .input,
.coverCont .select select {
    width: 100%;
    text-indent: 20px;
    background: transparent;
  	outline: none;
  	color: #fff;
}

.coverCont .inputs .input:placeholder{
	color: #e5e5e5;
}

.coverCont .btns .btn{
	width: 100%;
    background: #fd5270;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
}

.about {
    border: 10px solid white;
	background-repeat: no-repeat;
    background-image: url(img/aboutCov01.jpg);
    background-size: 200% 100%;
    padding: 40px 0;
}

.aboutCont {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

.aboutCont .content{
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	grid-row-gap: 30px;
}

.aboutCont .content .details {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	/*grid-row-gap: 30px;*/
}

.aboutMore, .footer {
	display: grid;
	grid-template-columns: 5% 90% 5%;
}

.aboutMoreCont, .footerCont {
	display: grid;
	grid-template-columns: 1fr;
	padding-top: 80px;
	grid-column: 2;
}

.aboutMoreCont .items, .footerCont .items{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows:1fr 1fr 1fr; 
	background-image: url(img/icons/iconbackk.png);
	grid-row-gap: 70px;
	background-color: #8080801C;
}

.aboutMoreCont .items .item,
.footerCont .items .item {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
    font-weight: 700;
}

.aboutMoreCont .item .icon,
.browseCatCont .item .icon,
.footerCont .item .icon {
	display: grid;
    background: #f4d2d4;
    width: 70px;
    height: 70px;
    justify-self: center;
    position: relative;
    top: -48%;
    transform: rotate(45deg);
}

.browseCatCont .item .icon{
	top: -80%;
}


.aboutMoreCont .item .icon img,
.browseCatCont .item img,
.footerCont .item img {
	justify-self: center;
	align-self: center;
	width: auto;
	height: auto;
	transform: rotate(-45deg);
}

.popCat, .browseCat, .blogs{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.popCatCont, .browseCatCont, 
.blogsCont, .footerCont {
	grid-column: 2;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	grid-row-gap: 70px;
}

.popCatCont .items,
.browseCatCont .items{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
    grid-row-gap: 70px;
} 

.popCatCont .item {	
	display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: 8fr 1fr 1fr;
}

.popCatCont .item img{
    outline: 1px solid white;
    outline-offset: -19px;
}

.browseCatCont .item img {
	width: 50px;
}

.blogs .item .title,
.blogs .item .text,
.coverCont .coverHeading,
.popCat .btns,
.popCatCont .item .title{
    align-self: center;
}

.popCat .btns a{
    text-decoration: none;
    background-color: #fd5270;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
}

.browseCatCont .item{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr 1fr 4fr;
    background: #908f8f2b;
    color: #534f4f;
    border: 2px solid #f4d2d4;
    padding: 20px;
}

.browseCat, .blogs{
	padding-top: 80px;
	font-size: 2rem;
}

.blogs {
	display: grid;
}

.blogs .items {
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 30px;
}

.blogs .item{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 2fr;
    background-color: #ffe1bc36;
    padding: 20px;
    text-align: left;
}


.blogs .item .more {
	color: #fd5270;
}



@media screen and (min-width: 768px) {
	.cover, .about {
		background-size: 100% 100%;
	}

	.coverCont {
	    grid-template-columns: 1fr 1fr;
	    grid-template-rows: 1fr;
	}

	.hidden {
		display: grid;
	}

	.aboutCont {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.aboutCont .hidden{
		padding: 35px;
	}

	.aboutCont .img{
    	justify-self: center;
	}

	.aboutCont .img img {
		width: 100%;
		height: 100%;
	}

	.aboutMoreCont .item .icon,
	.footerCont .item .icon{
		top: -40%;
	}

	.browseCatCont .item {
		grid-template-rows: 2fr 1fr 5fr;
	}

	.aboutCont .btn {
	    background: #fd5270;
	    color: white;
	    border: none;
	    padding: 10px 20px;
	    font-size: 17px;
	}

	.aboutMoreCont, .footerCont {
		display: grid;
		grid-template-columns: 1fr 8fr 1fr;
		padding: 80px 0;
	}

	.aboutMoreCont .items, .footerCont .items{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows:1fr; 
		/*background-image: url(img/iconbackk.png);*/
		border: 1px solid pink;
    	height: 150px;
    	grid-column: 2;
	}

	.footerCont .head{
		grid-column: 2;
	}

	.footerCont .items{
		grid-row: 2;
	}

	.popCatCont .items, .browseCatCont .items{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-column-gap: 30px;
		grid-row-gap: 70px;
	}

	.blogs .items {
		display: grid;
	    grid-template-columns: 1fr 1fr 1fr;
	    grid-template-rows: 1fr;
	    grid-column-gap: 30px;
	}

	.blogs .item{
		grid-template-rows: 4fr 1fr 2fr;
	}

}

@media screen and (min-width: 992px) {
	.coverCont {
	    grid-template-columns: 50% 45% 5%;
	    grid-column-gap: 70px;
	}

	.browseCatCont .item {
		grid-template-rows: 2fr 1fr 3fr;
	}


}


.__fWhite {
	color: #fff;
}

.__font102{
	font-size: 1.2em;
}

.__font108 {
	font-size: 1.8em;
}

.__font105 {
	font-size: 1.5em
}

.__font1036 {
	font-size: 1.36em;
}

.__font105 {
	font-size: 1.5em;
}

.__font09 {
	font-size: 0.9em;
}

.__font08{
	font-size: 0.8em;
}

.__font2 {
	font-size: 2em;
}

.__font07 {
	font-size: 0.7em;
}

.__font06 {
	font-size: 0.6em;
}