html{
	font-size: 10px;
}

*{
	box-sizing: border-box;
}

body{
	font-family: 'Signika Negative', sans-serif;
	text-align: center;
	/*line-height: 1.6;*/
}


img{
	width: 100%;
}

input, select{
	border:none;
}

input.input::placeholder,
.select select:invalid {
    color: #e9e9e9;
    font-size: 20px;
}

.head {
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
}

.heading {
    justify-self: center;
    align-self: end;
    color: #fd5270;
    font-weight: 800;
    font-family: 'Courgette', cursive;
}

.heading:after {
    content: '';
    background-image: url(img/divider_title.png);
    background-repeat: no-repeat;
    display: block;
    width: 210px;
    height: 24px;
    position: relative;
    width: 100%;
    top: 10px;
    background-position: center;
}
.btn {
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: #fd5270;
    padding: 10px 20px;
    font-size: 17px;
}

.hidden{
	display: none;
}

.cover, .about, .aboutMore, 
.popCat, .browseCat, .blogs, .footer{
	font-size: 2rem;
}

.cover, .about {
	display: grid;
	grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto auto;
}

.coverCont, .aboutCont {
	grid-column: 2;
	grid-row: 2;
}


.cover {
	background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(170, 110, 125, 0.4), rgb(43, 43, 43, 0.7)), url(img/banner01.jpg);
    background-size: 300% 100%;
    font-size: 2rem;
    color: white;
    padding: 0 0 40px 0;
}

.cover .moonicon{
	grid-row: 1;
    height: 100px;
    grid-column: 1/ span 3;
    display: grid;
    background: rgba(255,255,255,0.8);
}

.cover .moonicon .img{
    max-width: 200px;
    display: grid;
    margin-left: 20px;
}

.cover .moonicon .img img{
	align-self: center;
}

.coverCont{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.coverCont .head {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
}

.coverCont .icons {
	display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
}

.coverCont .apple {
	grid-column: 2;
}

.coverCont .cover-form {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 8fr 1fr;
    background-color: #808080b5;
}

.coverCont .form {
	grid-column: 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
    padding: 40px 0;
    color: #fff;
    font-size: 24px;
    grid-row-gap: 15px;
}

.coverCont .inputs, .coverCont .select{
	border-bottom:2px solid white;
}

.coverCont .inputs .input{
	text-indent: 25px;
}

.coverCont .inputs .input,
.coverCont .select select {
    width: 100%;
    text-indent: 20px;
    background: transparent;
  	outline: none;
  	color: #fff;
  	font-size: 20px;
  	padding: 10px 0;
}

.coverCont .select option{
	background-color: #6a6766;
}

.coverCont .btns .btn{
	width: 100%;
    background: #fd5270;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
}

.about {
	background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(223, 164, 179, 0.2), rgba(255, 91, 91, 0.2)), url(img/aboutCov01.jpg);
    background-size: 200% 100%;
    padding: 40px 0;
}

.aboutCont {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

.aboutCont .content{
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	grid-row-gap: 30px;
}

.aboutCont .content .details {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 4fr 3fr;
	/*grid-row-gap: 30px;*/
}

.aboutMore, .footer {
	display: grid;
	grid-template-columns: 5% 90% 5%;
}

.aboutMoreCont, .footerCont {
	display: grid;
	grid-template-columns: 1fr;
	padding-top: 80px;
	grid-column: 2;
}

.aboutMoreCont .items, .footerCont .items{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows:1fr 1fr 1fr; 
	background-image: url(img/icons/iconbackk.png);
	grid-row-gap: 70px;
	background-color: #8080801C;
}

.aboutMoreCont .items .item,
.footerCont .items .item {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
    font-weight: 700;
}

.footerCont .item .title,
.aboutMoreCont .item .title{
	color: grey;
	font-weight: 400;
	display: grid;
	align-items: center;
}


.aboutMoreCont .item .icon,
.browseCatCont .item .icon,
.footerCont .item .icon {
	display: grid;
    background: #f4d2d4;
    width: 70px;
    height: 70px;
    justify-self: center;
    position: relative;
    top: -48%;
    transform: rotate(45deg);
}

.browseCatCont .item .icon{
	top: -80%;
}


.aboutMoreCont .item .icon img,
.browseCatCont .item img,
.footerCont .item img {
	max-width: 50px;
	justify-self: center;
	align-self: center;
	transform: rotate(-45deg);
}

.popCat, .browseCat, .blogs{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.popCat{
	padding: 40px 0;
}

.popCatCont, .browseCatCont, 
.blogsCont, .footerCont {
	grid-column: 2;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	grid-row-gap: 40px;
}

.popCatCont .items,
.browseCatCont .items{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
    grid-row-gap: 70px;
} 

.popCatCont .item {	
	display: grid;
	grid-template-columns: 1fr;
    grid-template-rows: 8fr 1fr;
}

.popCatCont .item img{
    transition: all 0.5s ease-in;
    width: 100%;
}

.popCatCont .item img:hover{
	cursor: pointer;
    outline: 1px solid white;
    outline-offset: -19px;
}

.browseCatCont .item img {
	width: 50px;
}

.blogs .item .title{
	align-self: end;
}

.blogs .item .text,
.coverCont .coverHeading,
.popCatCont .item .title{
    align-self: center;
}

.browseCatCont .item{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr 1fr 4fr;
    background: #908f8f2b;
    color: #534f4f;
    border: 2px solid #f4d2d4;
    padding: 20px;
}

.browseCatCont .item .text{
	text-align: justify;
}

.browseCat, .blogs{
	padding-top: 80px;
	font-size: 2rem;
}

.blogs {
	display: grid;
}

.blogs .items {
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 30px;
}

.blogs .item{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 1fr 2fr;
    background-color: #ffe1bc36;
    padding: 20px;
    text-align: left;
}


.blogs .item .more {
	color: #fd5270;
}

.footer .item .text{
	font-weight: 100;
}



@media screen and (min-width: 768px) {
	.cover, .about {
		background-size: 100% 100%;
	}

	.coverCont {
	    grid-template-columns: 1fr 1fr;
	    grid-template-rows: 1fr;
	}

	.hidden {
		display: grid;
	}

	.aboutCont {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.aboutCont .hidden{
		padding: 35px;
	}

	.aboutCont .img{
    	justify-self: center;
	}

	.aboutCont .img img {
		width: 100%;
		height: 100%;
	}

	.aboutMoreCont .item .icon,
	.footerCont .item .icon{
		top: -50%;
	}

	.aboutMoreCont .items .item:nth-child(2) .title,
	.footerCont .items .item:nth-child(2) .title{
		border-left: 2px solid pink;
		border-right: 2px solid pink;
	}

	.browseCatCont .item {
		grid-template-rows: 2fr 1fr 5fr;
	}

	.aboutCont .btn {
	    background: #fd5270;
	    color: white;
	    border: none;
	    padding: 10px 20px;
	    font-size: 17px;
	}

	.aboutMoreCont, .footerCont {
		display: grid;
		padding: 80px 0;
	}

	.aboutMoreCont .items, .footerCont .items{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows:1fr; 
		border: 1px solid pink;
	}

	.popCatCont .items{
		grid-gap: 30px;
	}

	.popCatCont .items, .browseCatCont .items{
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.browseCatCont .items{
		grid-row-gap: 70px;
		grid-column-gap: 30px;
	}

	.blogs .items {
		display: grid;
	    grid-template-columns: 1fr 1fr 1fr;
	    grid-template-rows: 1fr;
	    grid-column-gap: 30px;
	}

	.blogs .item{
		grid-template-rows: 3fr 1fr 2fr;
	}

}

@media screen and (min-width: 992px) {
	.coverCont {
	    grid-template-columns: 50% 45% 5%;
	    grid-column-gap: 70px;
	}

	.browseCatCont .item {
		grid-template-rows: 2fr 1fr 3fr;
	}

	.blogs .item{
		grid-template-rows: 6fr 1fr 2fr;
	}

}


.__fWeight{
	font-weight: 800;
}

.__fWhite {
	color: #fff;
}

.__font102{
	font-size: 1.2em;
}

.__font108 {
	font-size: 1.8em;
}

.__font105 {
	font-size: 1.5em
}

.__font1036 {
	font-size: 1.36em;
}

.__font105 {
	font-size: 1.5em;
}

.__font09 {
	font-size: 0.9em;
}

.__font08{
	font-size: 0.8em;
}

.__font2 {
	font-size: 2em;
}

.__font07 {
	font-size: 0.7em;
}

.__font06 {
	font-size: 0.6em;
}